@import "tailwindcss";

:root {
  --background: var(--gruv-bg);
  --foreground: #ededed;
  --gruv-bg: #1e2021;
  --gruv-bg-tinted: #2a2929;
  --gruv-highlight-red-orange: #fa4835;
  --gruv-highlight-yellow: #fe8118;
  --gruv-highlight-green: #8dbc7a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gruv-bg: var(--gruv-bg);
  --color-gruv-bg-tinted: var(--gruv-bg-tinted);
  --color-gruv-highlight-red-orange: var(--gruv-highlight-red-orange);
  --color-gruv-highlight-yellow: var(--gruv-highlight-yellow);
  --color-gruv-highlight-green: var(--gruv-highlight-green);
  --font-sans: var(--font-fira-code);
  --font-mono: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gruv-bg);
    --foreground: #ededed;
    --gruv-bg: #1e2021;
    --gruv-bg-tinted: #2a2929;
    --gruv-highlight-red-orange: #fa4835;
    --gruv-highlight-yellow: #fe8118;
    --gruv-highlight-green: #8dbc7a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
